body{
  --background-color: #295939;
  --text-color: #ffffff;
  --search-color:#e8e8e8;

}

.whole{
  margin:0px;
  background:url("background.jpg");
  background-size: cover;
  background-position: center bottom;
}

.navbar{
  height:80px;
  padding-top:10px;
}


.navbar-brand{
  font-size: 18px;
  color:var(--text-color);
  margin:70px;


}

@media screen and (max-width:1020px){
  .navbar-brand{
    margin:-20px;
  }
}


.navbar-brand:hover{
  color:#cfdac8;
  transition: color 0.5s;
  transition-timing-function: ease-in-out;
}


.search{
font-size: 15px;
margin-left: 500px;
border-radius: 40px;
background-color: var(--search-color);
outline: 0;
border-color: none;
transition: background-color 0.5s;
transition-timing-function: ease-in-out;
}


@media screen and (max-width:1020px){
  .search{
    margin-left:-40px;
  }
}

.sam-image{
  margin-left:150px;
  margin-top: 10px;
  width:60px;
  height:60px;
  border-radius: 50%;
  border-style: groove;
  border-style: none;
}

@media screen and (max-width:1020px){
  .sam-image{
    margin-left: -100px;
  }
}


.name{
  color: var(--text-color);
  font-size:17px;
  font-weight: bold;
  line-height:-2.5px;
  margin-left: 20px;
  font-family: 'Merriweather', serif;
}

.name:hover{
  color:#cfdac8;
  text-decoration: none;
}

.name-link{
  text-decoration: none;
}





.title{
  color: var(--text-color);
  text-align: center;
  margin-top: 200px;
  padding-bottom: 100px;
}



.title-sam{
  margin:40px;
  font-size: 70px;
  color: var(--text-color);

}

@media screen and(max-width:1020px){
  .title-sam{
      margin-left:100px;
  }
}

.title-content{
  text-align: center;
  color: #f0e5d8;
  font-size:18px;
}


.middle{
  margin-top: 50px;
  margin-bottom: 50px;
}


.bottom{
  margin-bottom:150px;
}

.personal{
  text-align: center;


  margin-top: 30px;
}

.details{
  margin-top:50px;
}

.form-group{
  margin:15px;
}

.data{
  background-color: var(--search-color);
  outline: 0;
  height:3rem;
  border-color: none;
  transition: background-color 0.3s;
  transition-timing-function: ease-in-out;
}


.data:focus{
  border-color: #009579;
  background: #ffffff;
}

.label{
  font-size: 18px;
  font-weight: 600;
}
.check{
  margin-top:50px;
  margin-bottom: 50px;
}

@media screen and(max-width:1020px){
  .check{
    margin-top:10px;
    margin-bottom: 10px;
  }
}

.btn{

  border-radius: 3rem;
  font-size: 25px;

}


.btn:hover{
  background-color: var(--text-color);
  color: #045762;
  transition: background-color 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}
